body
{
  font-family: 'Roboto', sans-serif; 
  word-wrap       : break-word;
  background-color: #F5F5F5;
  margin: 0;
  text-transform: lowercase; /*sans majuscule pour plus de visibilité*/
 }

.perso
{
  display: flex; 
  width  : 100%;
}

aside
{
    width           : 25%;
    color           : #F5F5F5;
    background-color: #006064;
    margin-right    : 30px;
    text-align      : justify;
    display: flex;
    flex-direction: column;
}

.aside-element:nth-child(3) /*occupation de l'espace*/
{
  flex-grow: 1;
}

.image
{
  height: 150px;
}

.photo
{
  height       :100%;
  border-radius: 50%;
  display      : block;
  border       : 2px #FFB74D solid;
  margin-right : auto;
  margin-left  : auto;
  margin-top   : 30px;
  filter       : grayscale(1);
  transition-duration: 1400ms;
}
.photo:hover
{
    filter : grayscale(0); /*image en couleur lors du survole + 1400ms*/
}
.colonne
{
  height          : 40px;
  background-color: #F5F5F5;
}
.colonne p
{
  color      : #006064;
  text-align : center;
  line-height: 2.9rem;
  font-size  : 25px;
}

a{
    text-decoration: none;
    color: #F5F5F5; 
}

.texte p
{
  margin: 25px;
}
.texte i 
{
  margin-right: 15px;
}


footer
{
  display        : flex;
  justify-content: center;

}
footer i
{
  font-size: 60px;
  margin-top   : 20px;
  margin-bottom: 20px;
  margin-right : 7px;
  margin-left  : 7px;
  color: #F5F5F5;
   border-radius: 50%;
   border       : 2px #FFB74D solid;
  padding: 7px;
}


main
{
    display         : flex;
    color           : #212121;
    background-color: #F5F5F5;
    flex-direction  : column;
    justify-content : space-between;
}
section
{
  margin-left   : 50px;
  display       : flex;
  flex-direction: column;
}

.element
{
  display        : flex;
  justify-content: space-between;
}
main p
{
  margin: 0px;
}

h2
{
  margin-left  : 100px;
  font-size    : 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h2 span /*effet sur le titre*/
{
  color: #006064 ;
}
h1
{
  margin-left: 120px;
  margin-top : 10px;
  font-size  : 30px;
  text-transform: uppercase;
}
h1 span /*effet surligné sur le titre*/
{
  border-bottom: 1px #FFB74D solid;
}

h3
{
  font-size    : 20px;
  border-bottom: 1px #FFB74D solid;
  margin-bottom: 18px;
  padding-left : 30px;
}

.element-left
{
  width : 50%;
  height: 115px;
}
.element-left span
{
   border-radius: 50%;
   border       : 2px #FFB74D solid;
   padding: 2px 1px 1px 2px;
}
.element-left p:nth-child(2)
{
  margin-left: 22px;
}
.element-right
{
  
  width    : 50%;
  height   : 115px;
  font-size: 20px;
}
.element-right p:nth-child(1)
{
  font-size  : 17px;
  margin-left: 5px;
}
.element-right p:nth-child(2)
{
  font-size  : 13px;
  margin-top : 5px;
  margin-left: 5px;
}

.recommend
{
  display: flex;
}
.recommend-left, .recommend-right
{
  width : 50%;
  height: 100%;
  margin-bottom: 30px;
}
.recommend p
{
  margin-bottom: 5px;
  text-transform: uppercase;
}
.recommend a
{
  color: #212121
}
.recommend span
{
  font-size: 15px;
}
main .image
{
  visibility: collapse;
}
@media screen and (max-width: 1024px) /*visibilité de 0 à 1024px*/
{
html, body
{
  width: 100%;
}
.perso
{
  flex-direction: column-reverse;
}
aside
{
  width: 100%;
  margin:0;
}
.colonne p
{
  font-size: 20px;
}
.texte
{
  font-size: 14px;
}
.aside-element:nth-child(1) /*image du aside est supprimée*/
	{
	display: none;
	}
footer i
{
  height       : 60px;
  margin-left: 10px;
  margin-right: 10px;
}
 
 main .image /*l'image invisible apparait lors du responsive*/
    {
      visibility: visible;
      margin-bottom: 50px;
        }
 
 h2
 {
  font-size: 35px;
  margin-left: 70px;
 }
 h1
 {
  font-size: 25px;
  margin-left: 130px;
 }
    .element
    {
        flex-direction: column;
    }
    
   
    .element-left, .element-right
    {
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
    }
    .element-right
    {
      margin-bottom: 50px;
    }
    .element-right p
    {
      padding-left:  50px;
    }
    .recommend
    {
      flex-direction: column;
    }
    .recommend-left, .recommend-right
    {
      width: 100%;
    }

}